html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border: solid 5px red;
  }
.contentPraticle{
    // border: 3px solid green;
    

}
#canvas{
    // border: 3px solid orange;
    margin:0;
    padding:0;
    bottom:0;
    top: 0;
    right: 0;
    left: 0;
}
