.contentBurger{
    /* border: solid white 1px; */
    width: 2rem;
    height:1.5rem;
    background-color: transparent;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-flow: column nowrap;
    right:1rem;
    cursor:pointer;
    position:absolute;
    display:block
}

.spBurger{
    background-color:white;
    height:0.1rem;
    transition:all 1s linear;
    position:relative;
}

.spBurger1{
    position:absolute;
    right:0;
    top:0;
    width:50%
}
.spBurger2{
    position: absolute;
    top: 50%;
    width: 2rem;
}
.spBurger3{
    position:absolute;
    bottom:0;
    width: 50%;
}

.rotate-45{
    transform:rotate(45deg);
}
.rotate-minus45{
    transform:rotate(-45deg);

}
.display-none{
    display:none;
}


@media (min-width:767px){
    .contentBurger{
        display: none;
    }
}