.contentContact{
    background-color: #000000;
    padding:5%;
    text-align: right;
}
.titleContact{
    color: #FFFFFF;
}
.contentTxtForm{
    display:flex;
    flex-direction: column;
    
}
.contentPara{
    // background-color: #FFFFFF;
}
.paraContatc{
    color:#FFFFFF;
    // background-color: #FFFFFF;
    text-align: end;
}