html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  .ContentProfile{
    border: solid 1px red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;    
  }
  #canvas {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      /* background:black; */
    }
.title{
  color:white,

}

.ContentTextProfile{
    background-color: rgba(245, 255, 47, 0.737);
    clip-path: circle(60% at 5rem 70%);
}
.TextProfile{
    shape-outside: circle(60% at 5rem 70%);
    shape-margin: 20%;
    clip-path: circle(60% at 5rem 70%);
    color:white,
}